.formContainer {
  display:flex;
  justify-content: center;
}

.productContainer {
  display:flex;
  justify-content: center;
  margin-top: 20px;
}

.product {
  border: 1px solid rgb(200, 200, 200);
  padding: 20px;
  width: 400px;
}

.productRow{
  margin-bottom: 15px;
}

.largeText {
  font-size: larger;
  margin-right: 50px;
}

.form {
  border: 1px solid rgb(200, 200, 200);
  padding: 20px;
  min-width: 400px;
}

.bold {
  font-weight:600;
}

.btn-wide {
  width:100%;
}

.btn-secondary {
  margin-right: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
